
  <div class="" ng-if="dbNav.isAddingConnection">
      <div>server:port <input ng-model="dbNav.newConnection.serverAndPort" /></div>
      <div><a href="#" ng-click="dbNav.connect()">connect</a></div>
  </div>

<ul>
    <li nav-item-cmd="con" class="connection" ng-repeat="con in dbNav.connectionManager.connections">
    {{con.serverAndPort}}
    <ul>
      <li nav-item-cmd="db" class="database" ng-repeat="db in con.databases">{{db.name}}
        <ul ng-if="db.collections.length">
          <li nav-item-cmd="col"  ng-repeat="col in db.collections">{{col.name}}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>


<div id='itemActions'>
  <span class='collapse'>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
      <glyph unicode="&#xf054;" horiz-adv-x="1280" d="M1107 659l-742 -742q-19 -19 -45 -19t-45 19l-166 166q-19 19 -19 45t19 45l531 531l-531 531q-19 19 -19 45t19 45l166 166q19 19 45 19t45 -19l742 -742q19 -19 19 -45t-19 -45z" />
    </svg>
  </span>
  
  <span class='menu'></span>
</div>
